form {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

input {
  width: 70%;
  height: 2em;
  padding: .2em;
}

button {
  height: 2.5em;
  background-color: yellow;
  padding: .5em;
}