form {
  width: 50%;
  height: 20em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

input,
textarea {
  width: 70%;
  padding: .2em;
}

button {
  width: 10em;
  height: 3.5em;
  background-color: yellow;
  padding: .5em;
}

::placeholder {
  color: lightgrey;
}