* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  display: flex;
  background-color: lightblue;
  height: 3em;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.active {
  color: yellow;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3em;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
}