article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: fit-content;
  border: 1px solid grey;
  margin-top: 1em;
  -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 5em;
}

.product-header {
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

.product_title {
  margin: 0;
}

.card_image {
  width: 100%;
  height: 5em;
}

.product-image {
  height: 20em;
  width: 100%;
}

.btn {
  border-radius: 1em;
  width: 10em;
  height: 3.5em;
  background-color: lightblue;
  padding: .5em;
}

.btn:hover {
  background-color: yellow;
}

.button-control {
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1em;
}

.admin-button-delete-form {
  display: flex;
  justify-content: center;
  align-items: center;
}